{% extends '::frontend.html.twig' %}
{% block title %}Bienvenido{% endblock %}

{% block article %}

  {% if error %}
    <div>
      {{ error.message }}
    </div>
  {% endif %}

  <div id="loginBox">
    <form action="{{ path('user_login_check') }}" method="post">
      <label for="username">Usuario:</label>
      <input type="text" name="_username" id="username" value="{{ last_username | default('') }}" /></p>
      <label for="password">Contraseña:</label>
      <input type="password" name="_password" id="password" /></p>
      <input type="checkbox" name="_remember_me" id="remember" />
      <label for="remember">No cerrar sesión</label>
      <input type="submit" name="login" value="Entrar" /></p>
    </form>
    <a id="Register" href="{{ path('register') }}">Regístrate</a>
  </div>
  <img src="{{ asset('bundles/app/images/home_photo.jpg') }}" >
{% endblock %}

