{% extends '::frontend.html.twig' %}

{% block title %}
  {{ "profile.title" | trans({}, 'forms') }}
{% endblock %}
{% block article %}
  <div class="content">
    <h2>{{ "profile.article" | trans({}, 'forms') }}</h2>
    {{ form_start(form) }}
    <div>
      {{ form_errors(form) }}
    </div>
    <div>
      <fieldset>
        <legend>{{ "profile.leyend" | trans({}, 'forms') }}:</legend>
         {{ form_row(form.name) }}
         {{ form_row(form.surname) }}
         {{ form_row(form.email) }}
         <h3>{{ "profile.textPassword" | trans({}, 'forms') }}</h3>
         {{ form_row(form.password) }}
      </fieldset>
    {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

