{% extends '::frontend.html.twig' %}
{% block title %}
  {{ "login.title" | trans({}, 'messages') }}
{% endblock %}

{% block article %}

  {% if error %}
    <div>
      {{ error.message }}
    </div>
  {% endif %}
  <div id="conta">
    <div id="loginBox">
      <form action="{{ path('user_login_check') }}" method="post">
        <label for="username">{{ "login.email" | trans({}, 'forms') }}:</label></br>
        <input type="text" name="_username" id="username" value="{{ last_username | default('') }}" /></p>
        <label for="password">{{ "login.password" | trans({}, 'forms') }}:</label>
        <input type="password" name="_password" id="password" /></p>
        <input type="checkbox" name="_remember_me" id="remember" />
        <label for="remember">{{ "login.dontClose" | trans({}, 'forms') }}</label></br>
        <input type="submit" name="login" value={{ "login.submit" | trans({}, 'forms') }} /></p>
      </form>
    <div id="register">
      <a href="{{ path('register') }}">{{ "login.signUp" | trans({}, 'forms') }}</a>
    </div>
    </div>
  </div>
{% endblock %}

