{% extends '::frontend.html.twig' %}

{% block title %}Regístrate{% endblock %}
{% block article %}
<h2>Regístrate</h2>
  {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>
      <legend>Datos personales:</legend>
         {{ form_row(form.name) }}
         {{ form_row(form.surname) }}
         {{ form_row(form.email) }}
         {{ form_row(form.password) }}
    </fieldset>
  {{ form_end(form) }}
{% endblock %}
