{% extends '::frontend.html.twig' %}

{% block title %}
  {{ "register.title" | trans({}, 'forms') }}
{% endblock %}

{% block article %}
  <div class="content">
    <h2>{{ "register.article" | trans({}, 'forms') }}</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>
      <legend>{{ "register.leyend" | trans({}, 'forms') }}</legend>
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
    </fieldset>
    {{ form_end(form) }}
  </div>
{% endblock %}
