{% extends '::frontend.html.twig' %}
{% block article %}
  <div class="content">
    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>

    <div class="listCats">
    {% for pagination in pagination %}
    <div class="listText">
      <strong>{{ "list.name" | trans({}, 'messages') }}: </strong>{{ pagination.name }}<br>
      <strong>{{ "list.breed" | trans({}, 'messages') }}: </strong>{{ pagination.breed }}<br>
        <strong>{{ "list.genre" | trans({}, 'messages') }}: </strong>{{ pagination.genre }}<br>
        <strong>{{ "list.age" | trans({}, 'messages') }}: </strong>{{ pagination.age }}<br>
        <strong>{{ "list.comment" | trans({}, 'messages') }}: </strong>{{ pagination.comments }}<br>
    </div>
        <img class="listImage" src="{{ asset('bundles/app/images/' ~ pagination.photo) | imagine_filter('my_thumb_list')  }}" alt="" /><br>
        <br>
    {% endfor %}
    </div>

    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
  {% endblock %}
