{% extends '::frontend.html.twig' %}
{% block article %}
  <div class="content">
    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>

    <table>
    {% for pagination in pagination %}
      <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td><strong>{{ "list.name" | trans({}, 'messages') }}: </strong>{{ pagination.name }}</td>
        <td><strong>{{ "list.breed" | trans({}, 'messages') }}: </strong>{{ pagination.breed }}</td>
        <td><strong>{{ "list.genre" | trans({}, 'messages') }}: </strong>{{ pagination.genre }}</td>
        <td><strong>{{ "list.age" | trans({}, 'messages') }}: </strong>{{ pagination.age }}</td>
        <td><img src="{{ asset('bundles/app/images/' ~ pagination.photo) | imagine_filter('my_thumb_list')  }}" alt="" /></td>
        <td><strong>{{ "list.comment" | trans({}, 'messages') }}: </strong>{{ pagination.comments }}</td>
      </tr>
    {% endfor %}
    </table>

    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
  {% endblock %}
