{% extends '::frontend.html.twig' %}
{% block article %}
  <div class="content">
    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>

    <table>
    {% for pagination in pagination %}
      <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td><strong>Nombre: </strong>{{ pagination.name }}</td>
        <td><strong>Raza: </strong>{{ pagination.breed }}</td>
        <td><strong>Género: </strong>{{ pagination.genre }}</td>
        <td><strong>Edad: </strong>{{ pagination.age }}</td>
        <td><img src="{{ asset('bundles/app/images/' ~ pagination.photo) }}" alt="" /></td>
        <td><strong>Comentario: </strong>{{ pagination.comments }}</td>
      </tr>
    {% endfor %}
    </table>

    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
  {% endblock %}
