
{% extends '::frontend.html.twig' %}

{% block title %}
  {{ "cat.title" | trans({}, 'forms') }}
{% endblock %}

{% block article %}
  <div class="content">
    <h2>{{ "cat.title" | trans({}, 'forms') }}</h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <fieldset>
        <legend>{{ "cat.legend" | trans({}, 'forms') }}:</legend>
          <div class="form">
            {{ form_label(form.breed) }}</br>
            {{ form_errors(form.breed) }}
            {{ form_widget(form.breed) }}
          </div>

          <div class="form">
            {{ form_label(form.name) }}</br>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
          </div>

          <div class="form">
            {{ form_label(form.genre) }}</br>
            {{ form_errors(form.genre) }}
            {{ form_widget(form.genre) }}
          </div>

          <div class="form">
            {{ form_label(form.age) }}</br>
            {{ form_errors(form.age) }}
            {{ form_widget(form.age) }}
          </div>

          <div class="form">
            {{ form_label(form.comments) }}</br>
            {{ form_errors(form.comments) }}
            {{ form_widget(form.comments) }}
          </div>

          <div class="form">
            {{ form_label(form.formPhoto) }}</br>
            {{ form_errors(form.formPhoto) }}
            {{ form_widget(form.formPhoto) }}
          </div>

          </br>{{ form_end(form) }}
    </fieldset>
  </div>
{% endblock %}

