
{% extends '::frontend.html.twig' %}

{% block title %}
  {{ "cat.title" | trans({}, 'forms') }}
{% endblock %}
{% block article %}
  <div class="content">
    <h2>{{ "cat.article" | trans({}, 'forms') }}</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>
      <legend>{{ "cat.legend" | trans({}, 'forms') }}:</legend>
         {{ form_row(form.breed) }}
         {{ form_row(form.name) }}
         {{ form_row(form.genre) }}
         {{ form_row(form.age) }}
         {{ form_row(form.comments) }}
         {{ form_row(form.formPhoto) }}
    </fieldset>
    {{ form_end(form) }}
  </div>
{% endblock %}
